.App {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
  margin: 0rem;
}
/* ESTOS SON ESTILOS PARA EL HOME */
.circle-vector{
  position: fixed;
  -webkit-filter: brightness(200%);
  filter: brightness(200%);
  z-index: -1;
  right: -90px;
  top: -40px;
  background-size: cover;
  height: 25rem;
  width: 24rem;
}
.circle-vector{
  animation: rotation 2s infinite linear;
  transform-origin: 50% 50%;
}
.container_home{
  text-align: center;
  padding-top: 4rem;
}
.home_title{
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.home_title h1{
  font-size: 2.3rem;
}
.home_img{
  width: 8rem;
}
.home_welcome{
  font-size: 1.3rem;
  color: gray;
}
.home_input-name{
  width: 30%;
  border: none;
  border-radius: 1.8rem;
  outline: none;
  font-size: 1.2rem;
  color: grey;
  box-shadow: -10px -10px 15px rgba(58,58,58,.09019607843137255),10px 10px 15px rgba(66,66,66,.34901960784313724);
  transition: .5s;
  padding: 10px 55px 10px 15px;
  height: 2.5rem;
}
.home_button-send{
  position: absolute;
  top: 29.92rem;
  padding: 1.1rem;
  right: 31.3%;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  outline: 0;
  background: #40ff2f;
  color: #fff;
}
.home_button-send i{
  font-size: 1.4rem;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
/* ESTOS SON ESTILOS PARA LA POKEDEX */

.container_pokedex{
  width: 90%;
  margin: 0rem auto;
  margin-top: 5rem;
}
.pokedex-header{ 
  text-align: start;
  margin-bottom: 2rem;
}
.pokedex-title{
  font-size: 3.5rem;
  margin: 0rem;
}
.pokedex-text{
  font-size: 1.5rem;
}
.pokedex-seeker{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.pokedex-seeker-options{
  width: 30%;
  background-color: white;
  border: none;
  border-radius: 1.8rem;
  outline: none;
  font-size: 1.2rem;
  color: grey;
  box-shadow: -10px -10px 15px rgba(58,58,58,.09019607843137255),10px 10px 15px rgba(66,66,66,.34901960784313724);
  transition: .5s;
  padding: 10px 55px 10px 15px;
  height: 3rem;
}
.pokedex-seeker-send{
  width: 40%;
  position: relative;
}
.pokedex-seeker-send-input{
  width: 70%;
  border: none;
  border-radius: 1.8rem;
  outline: none;
  font-size: 1.2rem;
  color: grey;
  box-shadow: -10px -10px 15px rgba(58,58,58,.09019607843137255),10px 10px 15px rgba(66,66,66,.34901960784313724);
  transition: .5s;
  padding: 10px 55px 10px 15px;
  height: 1.8rem;
}
.pokedex_button-serch{
  position: absolute;
  padding: 1rem;
  right:6%;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  outline: 0;
  background: rgb(94, 180, 214);
  color: #fff;
}
.pokedex_button-serch i{
  font-size: 1rem;
}
.container-pokemones{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin: 0rem auto;
  margin-top: 3rem;
}
.card-pokemon{
  background-color: wheat;
  display: flex;
  border-radius: 20px;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  text-align: start;
  text-decoration: none;
  color: white;
  margin: 1rem .4rem;
}
.container-pokemon-img{
  position: relative;
  top: 9rem;
  width: 9rem;
  
}
.container-pokemon-img img{                                        
  width: 100%;
}
.card-pokemon p{
  border-radius: 5px;
                                                                         
}


/* From uiverse.io by @alexruix */
/* From uiverse.io by @alexruix */
.input {
  line-height: 2rem;
  border: 2px solid transparent;
  border-bottom-color: rgb(42, 255, 42);
  padding: .2rem 0;
  outline: none;
  background-color: transparent;
  color: #0d0c22;
  transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 25rem;
  font-size: 1.2rem;
  margin-top: 2rem;
  color: gray;
 }
 
 .input:focus, input:hover {
  outline: none;
  padding: .2rem 1rem;
  border-radius: 1rem;
  border-color: rgb(42, 255, 42)
 }
 
 .input::placeholder {
  color: #777;
 }
 
 .input:focus::placeholder {
  opacity: 0;
  transition: opacity .3s;
 }
 .input-pokemon{
  border-bottom-color: #777;
  margin: 0;
  width: 80%;
 }
 .input-pokemon:focus, input:hover {
  border-color: #777;
 }
  


/* From uiverse.io by @satyamchaudharydev */
.card {
  --bg: #7AC7C4;
  --hover-bg: #63aca9;
  --hover-text: white;
  max-width: 23ch;
  text-align: center;
  padding: 1.5em;
  padding-block: 1.8em;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  transition: .3s cubic-bezier(.6,.4,0,1),transform .15s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-bottom: 1.5rem;
  cursor: pointer;
}
.icon{
  width: 100%;
}
.icon img{
  width: 100%;
}

.card > :not(span) {
  transition: .3s cubic-bezier(.6,.4,0,1);
}

.card > strong {
  display: block;
  font-size: 1.4rem;
  letter-spacing: -.035em;
  color: white;
}

.card span {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--hover-text);
  border-radius: 5px;
  font-weight: bold;
  top: 100%;
  transition: all .3s cubic-bezier(.6,.4,0,1);
}

.card:hover span {
  top: 0;
  font-size: 1.2em;
}

.card:hover {
  background: var(--hover-bg);
}

.card:hover>div,.card:hover>strong {
  opacity: 0;
}
 
 

.fa-arrow-left{
  font-size: 1.4rem;
  padding-top: 2rem;
}
.arrow-exit{
  text-align: start;
}


/* From uiverse.io by @SharpTH */
.card-pokemon-detail{
  cursor: pointer;
  width: 100%;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 255, .2);
  transition: all .2s;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  padding-bottom: 2rem;
  margin-bottom: 3rem;
 }
 
 .card-pokemon-detail:hover {
  box-shadow: -12px 12px 2px -1px rgba(0, 0, 255, .2);
 }
 .container-detail-pokemon{
  width: 100%;
  padding-bottom: 4rem;
}
.container-detail-pokemon-second{
  width: 80%;
  margin: 0rem auto;
}
.container-principal-detail-pokemon{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
 .container-principal-bloqueUno{
  width: 70%;
  margin-left: 2rem;
}
.card-img-detail{
  width: 40%;
  margin: 0rem auto;
}
.card-img-detail img{
  width: 100%;
}
.container-principal-bloqueDos{
  width: 20%;

}
.display-flex{
  display: flex;
  justify-content: space-around;
}

hr{
  height: 1px;
  background-color: rgba(128, 128, 128, 0.264);
  border: none;
  width: 80%;
  margin: 0rem auto;
}


/* From uiverse.io by @namecho */
button,
button::after {
  width: 8rem;
  cursor: default;
 padding: 16px 20px;
 font-size: 18px;
 background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
 border: 0;
 color: #fff;
 letter-spacing: 3px;
 line-height: 1;
 box-shadow: 6px 0px 0px #00e6f6;
 outline: transparent;
 position: relative;
}

button::after {
 --slice-0: inset(50% 50% 50% 50%);
 --slice-1: inset(80% -6px 0 0);
 --slice-2: inset(50% -6px 30% 0);
 --slice-3: inset(10% -6px 85% 0);
 --slice-4: inset(40% -6px 43% 0);
 --slice-5: inset(80% -6px 5% 0);
 content: "HOVER ME";
 display: block;
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background: linear-gradient(45deg, transparent 3%, #00e6f6 3%, #00e6f6 5%, #ff013c 5%);
 text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
 clip-path: var(--slice-0);
}

button:hover::after {
 animation: 1s glitch;
 animation-timing-function: steps(2, end);
}

@keyframes glitch {
 0% {
  clip-path: var(--slice-1);
  transform: translate(-20px, -10px);
 }

 10% {
  clip-path: var(--slice-3);
  transform: translate(10px, 10px);
 }

 20% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 10px);
 }

 30% {
  clip-path: var(--slice-3);
  transform: translate(0px, 5px);
 }

 40% {
  clip-path: var(--slice-2);
  transform: translate(-5px, 0px);
 }

 50% {
  clip-path: var(--slice-3);
  transform: translate(5px, 0px);
 }

 60% {
  clip-path: var(--slice-4);
  transform: translate(5px, 10px);
 }

 70% {
  clip-path: var(--slice-2);
  transform: translate(-10px, 10px);
 }

 80% {
  clip-path: var(--slice-5);
  transform: translate(20px, -10px);
 }

 90% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 0px);
 }

 100% {
  clip-path: var(--slice-1);
  transform: translate(0);
 }
}

/* From uiverse.io */
.fancy {
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: default;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 1.25em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: .8rem;
  width: 12rem;
 }
 
 .fancy::before {
  content: " ";
  width: 1.5625rem;
  height: 2px;
  background: black;
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
 }
 
 .fancy .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
 }
 
 .fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, left 0.3s ease-out;
 }
 
 .fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, right 0.3s ease-out;
 }
 
 .fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, right 0.3s ease-out;
 }
 
 .fancy:hover {
  color: white;
  background: black;
 }
 
 .fancy:hover::before {
  width: 0.9375rem;
  background: white;
 }
 
 .fancy:hover .text {
  color: white;
  padding-left: 1.5em;
 }
 
 .fancy:hover .top-key {
  left: -2px;
  width: 0px;
 }
 
 .fancy:hover .bottom-key-1,
  .fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
 }

 
 
 
 